/* GENERAL */

.layout {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    min-height: 500px;
    border: 1px solid #f0f0f0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.header {
    /*background: url('bg_texture.png') 0 0 repeat;*/
    /*background: linear-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 90%) repeat scroll 0 0 transparent;*/
    /*background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;*/
    /*background-image: url("http://twitter.github.io/bootstrap/assets/css/../img/bs-docs-masthead-pattern.png") repeat scroll center center transparent;*/
    
    background-image: url("http://twitter.github.io/bootstrap/assets/img/bs-docs-masthead-pattern.png"), linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: url("http://twitter.github.io/bootstrap/assets/img/bs-docs-masthead-pattern.png"), -o-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: url("http://twitter.github.io/bootstrap/assets/img/bs-docs-masthead-pattern.png"), -moz-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    /*background-image: url("https://dl.dropboxusercontent.com/u/930819/att_tech/50%20x%2087/Geometric-Pattern-1--Pink.png"), -moz-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);*/
    background-image: url("http://twitter.github.io/bootstrap/assets/img/bs-docs-masthead-pattern.png"), -webkit-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: url("http://twitter.github.io/bootstrap/assets/img/bs-docs-masthead-pattern.png"), -ms-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    padding: 30px 20px 20px 20px;
    webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    width: 1160px;
    height: 125px;

    border-bottom: 0;
}

.well {
    /*background: url('grey.png') 0 0 repeat;*/
}

.main_wrap {
    padding: 20px;
}

.logo {
    line-height: 40px;
    margin-bottom: 45px;
    margin-top: 3px;
}

div #indexCarousel {
    width: 900px;
    height: 490px;
    margin: 0 auto;
}

.content_wrap {
    padding: 30px 20px 20px 20px;
}

.outer_cont {
    position: relative;
}

.inner_cont {
    position: absolute;
    top: 50%;
    height: 160px;
    margin-top: -80px;
}

.index_news .row-fluid {
    min-height: 200px;
}

.index_news .row-fluid .span4 {
    padding: 20px;
    text-align: center;
}

.index_news p {
    font-size: 16px;
}

.index_news a.btn {
    color: white;
}

.employees_table td, .masters_table td {
    vertical-align: middle;
}

.employee_row {
    font-size: 18px;
    padding: 10px 0;
    margin: 10px 0;
}

.masters_table td {
   padding: 20px 0;
}

.masters_table td.master_info {
    text-align: center;
    padding-left: 30px;
    width: 460px;
}

.masters_table .master_contacts {
    /*text-align: left;*/
}

.news_lent .news_lent_new {
    margin: 25px 0;
}

.news_lent .news_lent_new p {
    text-align: justify;
}

.gap_link {
    text-decoration: none;
    color: #333333;
}

.gap_link:hover {
    text-decoration: none;
    cursor: default;
}


/* navigation menu customization */

.nav-pills .open .dropdown-toggle {
    background-color: #0088CC;
    border-color: #0088CC;
    color: #FFFFFF;
}

.nav-pills .active a, .nav-pills .active a:hover, .nav-pills .active a:focus {
    /*background-color: #C9A74D;*/
    background-color: #0088CC;
    color: #FFFFFF;
}

.nav-pills .dropdown .dropdown-menu a {
    background-color: white;
    color: black;    
}

.nav-pills li.dropdown.open.active a:hover, .nav-pills li.dropdown.open.active a:focus {
    background-color: #0088CC;
    color: white;
}

.nav-pills .dropdown .dropdown-menu a {
    background-color: white;
    color: black;
}

.nav-pills .dropdown .dropdown-menu a:focus, .nav-pills .dropdown .dropdown-menu a:hover {
    background-color: #0088CC;
    color: white;
    /*background-image: linear-gradient(bottom, #C9A74D, rgb(194, 159, 67));
    background-image: -moz-linear-gradient(bottom, #C9A74D, rgb(194, 159, 67));*/
}

.nav-pills li a:focus, .nav-pills li a:hover {
    background: #0088CC;
    color: white;
}

.nav-pills a, .nav-pills a {
    color: white;
}

.nav-pills .dropdown a .caret, .nav-pills .dropdown a:hover .caret {
    color: white;
    border-bottom-color: white;
    border-top-color: white;
}

.nav a {
    font-size: 15px;
}

.nav-pills {
    margin-right: 0px;
    margin-top: -2px;
}

blockquote.pull-right {
    color: #a79900;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #A79900;
    padding: 20px;
    width: 850px;
    margin-right: -10px;
}

blockquote p.lead {
    font-size: 24px; font-style:italic;
}