/* GENERAL */

.layout {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    min-height: 500px;
    border: 1px solid #f0f0f0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.layout.sp_f1 p, .layout.sp_f1 a, .layout.sp_f1 h4, .layout.sp_f1 h5, .layout.sp_f1 span {
    font-size: 12px;
}

.layout.sp_f2 p, .layout.sp_f2 a, .layout.sp_f2 h4, .layout.sp_f2 h5, .layout.sp_f2 span {
    font-size: 16px;
}

.layout.sp_f3 p, .layout.sp_f3 a, .layout.sp_f3 h4, .layout.sp_f3 h5, .layout.sp_f3 span {
    font-size: 21px;
}

.layout.sp_f1 blockquote p.lead {
    font-size: 15px;
}
.layout.sp_f2 blockquote p.lead {
    font-size: 19px;
}
.layout.sp_f3 blockquote p.lead {
    font-size: 24px;
}


.layout.sp_c1, .layout.sp_c1 .well {
    background: white;
    color: black;
}
.layout.sp_c2, .layout.sp_c2 .well {
    background: black;
    color: white;
}
.layout.sp_c3, .layout.sp_c3 .well {
    background: #9dd1ff;
    color: #063462;
}

.layout.sp_c1 .well h4, .layout.sp_c1 table h4 {
    color: black;
}
.layout.sp_c2 .well h4, .layout.sp_c2 table h4 {
    color: white;
}
.layout.sp_c3 .well h4, .layout.sp_c3 table h4 {
    color: #063462;
}

.layout.sp_c1 .alert-info, .layout.sp_c1 .alert-info h4,
.layout.sp_c1 .alert-success, .layout.sp_c1 .alert-warning,
.layout.sp_c1 .alert-error, .layout.sp_c1 .alert-error h4,
.layout.sp_c1 .badge {
    background-color: white;
    color: black;
    border-color: black;
    text-shadow: none;
}
.layout.sp_c2 .alert-info, .layout.sp_c2 .alert-info h4,
.layout.sp_c2 .alert-success, .layout.sp_c2 .alert-warning,
.layout.sp_c2 .alert-error, .layout.sp_c2 .alert-error h4,
.layout.sp_c2 .badge-info {
    background-color: black;
    color: white;
    border-color: white;
    text-shadow: none;
}
.layout.sp_c3 .alert-info, .layout.sp_c3 .alert-info h4,
.layout.sp_c3 .alert-success, .layout.sp_c3 .alert-warning,
.layout.sp_c3 .alert-error, .layout.sp_c3 .alert-error h4,
.layout.sp_c3 .badge-info {
    background-color: #9dd1ff;
    color: #063462;
    border-color: #063462;
    text-shadow: none;
}


.layout.sp_c1 blockquote.pull-right, .layout.sp_c1 small{
    color: black;
    border-color: black;
}
.layout.sp_c2 blockquote.pull-right, .layout.sp_c2 small {
    color: white;
    border-color: white;
}
.layout.sp_c3 blockquote.pull-right, .layout.sp_c3 small {
    color: #063462;
    border-color: #063462;
}


.header {
    background-image: linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: -o-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: -moz-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    /*background-image: url("https://dl.dropboxusercontent.com/u/930819/att_tech/50%20x%2087/Geometric-Pattern-1--Pink.png"), -moz-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);*/
    background-image: -webkit-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    background-image: -ms-linear-gradient(left bottom, rgb(44,13,56) 0%, rgb(138,50,100) 100%);
    padding: 30px 20px 20px 20px;
    webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    width: 1160px;
    height: 125px;
    border-bottom: 0;
}


.slogan_img {
    position: absolute;
    width: 350px;
    height: 87px;
    left: 170px;
    top: 50px;
}

.well {
    /*background: url('grey.png') 0 0 repeat;*/
}

.main_wrap {
    padding: 20px;
}

.logo {
    line-height: 40px;
    margin-bottom: 45px;
    margin-top: 3px;
}

div #indexCarousel {
    width: 900px;
    height: 490px;
    margin: 0 auto;
}

.content_wrap {
    padding: 30px 20px 20px 20px;
}

.outer_cont {
    position: relative;
}

.inner_cont {
    position: absolute;
    top: 50%;
    height: 160px;
    margin-top: -80px;
}

.index_news .row-fluid {
    min-height: 200px;
}

.index_news .row-fluid .span4 {
    padding: 20px;
    text-align: center;
}

.index_news p {
    font-size: 16px;
}

.index_news a.btn {
    color: white;
}

.employees_table td, .masters_table td {
    vertical-align: middle;
}

.employee_row {
    font-size: 18px;
    padding: 10px 0;
    margin: 10px 0;
}

.masters_table td {
   padding: 20px 0;
}

.masters_table td.master_info {
    text-align: center;
    padding-left: 30px;
    width: 460px;
}

.masters_table .master_contacts {
    /*text-align: left;*/
}

.news_lent .news_lent_new {
    margin: 25px 0;
}

.news_lent .news_lent_new p {
    text-align: justify;
}

.gap_link {
    text-decoration: none;
    color: #333333;
}

.gap_link:hover {
    text-decoration: none;
    cursor: default;
}


/* navigation menu customization */

.nav-pills .open .dropdown-toggle {
    background-color: #0088CC;
    border-color: #0088CC;
    color: #FFFFFF;
}

.nav li.dropdown.open.active a.dropdown-toggle, .nav li.dropdown.open.active a:focus {
    background-color: #0088CC;
    border-color: #0088CC;
    color: #FFFFFF;
}

/*.nav-pills .active a, .nav-pills .active a:hover, .nav-pills .active a:focus {
    # background-color: #C9A74D;
    background-color: #0088CC;
    color: #FFFFFF;
}

.nav-pills li.dropdown.open.active a:hover, .nav-pills li.dropdown.open.active a:focus {
    background-color: #0088CC;
    color: white;
}

.nav-pills .dropdown .dropdown-menu a {
    background-color: white;
    color: black;
}

.nav-pills .dropdown .dropdown-menu a:focus, .nav-pills .dropdown .dropdown-menu a:hover {
    background-color: #0088CC;
    color: white;
    # background-image: linear-gradient(bottom, #C9A74D, rgb(194, 159, 67));
    # background-image: -moz-linear-gradient(bottom, #C9A74D, rgb(194, 159, 67));
}
*/

.nav-pills li a:focus, .nav-pills li a:hover {
    background: #0088CC;
    color: white;
}

.layout_wrap.special3 .nav-pills li a:focus, .layout_wrap.special3 .nav-pills li a:hover {
    background: black;
    color: white;
}

.nav-pills a {
    color: white;
}

.nav-pills .dropdown a .caret, .nav-pills .dropdown a:hover .caret {
    color: white;
    border-bottom-color: white;
    border-top-color: white;
}

.nav a {
    font-size: 13px;
}

.nav a.two_line {
    line-height: 28px;
}

.nav .dropdown a.dropdown-toggle {
    text-align: center;
}

.nav-pills {
    margin-right: 0px;
    margin-top: -2px;
}


blockquote.pull-right {
    color: #a79900;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #A79900;
    padding: 15px;
    width: 850px;
    margin-right: -10px;
}

blockquote p.lead {
    font-size: 21px;
    font-style: italic;
    margin-bottom: 10px;
}

blockquote p.lead.last {
    margin-bottom: 20px;
}

p.bottom_alert {
    font-size: 13px;
}
