{% extends 'layout.html' %}

{% block title %} Автотранспортный техникум им. С. А. Живаго {% endblock %}

{% block content %}
<blockquote class="pull-right">
	<p class="lead">
	   	Употреби труд, храни умеренность: богат будешь.</p>
	<p class="lead">
		Воздержено пей, мало ешь: здрав будешь.</p>
	<p class="lead last">
		Твори благо, не делай зла: спасен будешь.</p>
	</p>
	<small style="font-size: 16px;">Девиз рода Живаго</small>
</blockquote>

<div class="row">
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
</div>


	<div id="indexCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			{% for p in index_pictures %}
				{% if forloop.first %}
					<li data-target="#indexCarousel" data-slide-to="forloop.counter" class="active"></li>
				{% else %}
					<li data-target="#indexCarousel" data-slide-to="forloop.counter"></li>
				{% endif %}
			{% endfor %}
		</ol>
		<!-- Carousel items -->
		<div class="carousel-inner">
			{% for p in index_pictures %}
				{% if forloop.first %}<div class="active item"> {% else %} <div class="item"> {% endif %}
					<img src="{{ p.url }}" alt="{{ p.name }}">
					<div class="carousel-caption">
          	<h4>{{ p.name }}</h4>
						{% comment %}}<p>{{ p.descr }}</p>{% endcomment %}
          </div>
				</div>
			{% endfor %}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#indexCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#indexCarousel" data-slide="next">&rsaquo;</a>
	</div>

	<div class="row">
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
	</div>

	<div class="index_news">
	<div class="row-fluid index_news" style="margin: 0 auto;">

		<div class="span4 alert alert-info">
			<h3>{{ index_text_blocks.0.title }}</h3>
			<p>{{ index_text_blocks.0.text }}</p>
		</div>

		<div class="span4 alert alert-success">
			<h3>{{ index_text_blocks.1.title }}</h3>
			<p>{{ index_text_blocks.1.text }}</p>
		</div>

		<div class="span4 alert alert-warning">
			<h3>{{ index_text_blocks.2.title }}</h3>
			<p>{{ index_text_blocks.2.text }}</p>
		</div>

	</div>
	</div>
{% endblock %}

{% block banner %}
	<div class="row-fluid index_news" style="margin: 0 auto;">
		<div class="alert alert-error" style="margin-bottom: 0; text-align: center;">
			<h4 style="margin-bottom: 10px;">Уважаемые абитуриенты, студенты и их родители, педагоги и сотрудники техникума.</h4>
			<p class="bottom_alert">Если Вы столкнулись с актами вымогательства и другими противоправными действиями в нашем учебном заведении, если Вы попали в затруднительную ситуацию, Вас обижают на территории техникума - Вы всегда можете обратиться к нам по <a href="mailto:ATT.S.A.Jivago-Ryazan@yandex.ru">электронной почте</a> или по тел. (4912) 25-37-16 и (4912) 25-29-31.  Анонимность гарантируется.</p>
			<p class="bottom_alert">Администрация ОГБОУ СПО "АВТОТРАНСПОРТНЫЙ ТЕХНИКУМ ИМ. С.А. ЖИВАГО Г. РЯЗАНИ"</p>
		</div>
	</div>
{% endblock %}

{% block added_scripts %}
	<script>
		$('#indexCarousel').carousel({
	 		interval: 4000
		});
	</script>
{% endblock %}
