{% extends 'layout.html' %}
{% load att_tech_app_tags %}

{% block title %} {{ article.title }} {% endblock %}

{% block extrahead %}

{% endblock %}


{% block content %}

	<div class="row-fluid" style="margin: 0 auto;">
		<div class="span9" style="padding-right: 40px;">

			<h2 style="margin: 0 0 20px 0;">{{ article.title }}</h2>
			<div class="row">
				<div class="clearfix">&nbsp;</div>
			</div>

			<div>
				{{ article.text|safe }}
			</div>
			<div class="row">
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>
			</div>

			<div>
				{% if special %}
					<table class="table">
				{% else %}
					<table class="table table-striped">
				{% endif %}
					{% for file in article.files_list.all %}
	      		<tr>
							<td><h4>{{ forloop.counter }}</h4></td>
							<td><a href="{{ file.url }}"><h4>{{ file.name }}</h4></a></td>
	  				</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		{% news_block %}

	</div>
{% endblock %}


{% block added_scripts %}

{% endblock %}
